PyJWT==2.8.0
fastapi==0.101.0
hypercorn==0.14.4
uvicorn==0.23.2
jinja2==3.1.2
boto3==1.28.24
psycopg2-binary==2.9.7
sqlalchemy-cockroachdb==2.0.1
dash==2.11.1
pandas==2.0.3
httpx==0.24.1
prometheus-fastapi-instrumentator
opentelemetry-exporter-otlp
opentelemetry-instrumentation-dbapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-sqlite3
python-dotenv
pytest
pytest-dotenv
locust
