{% extends "layout.html.jinja" %}

{% block content %}
<div class="card">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/MVC-Process.svg" class="logo" width=600px />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Démonstrateur d'intégration MVC (Frontend/Backend) de Plotly Dash dans FastAPI (Code source disponible sur <a href="https://github.com/testruction/fastapi-sqlalchemy-cockroachdb">Azure DevOps</a>).</p>
</div>
{% endblock %}